@model ChangePasswordDTO
@{
    ViewData["Title"] = "Change Password";
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Đăng nhập tài khoản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
          content="Register Form Responsive" />
    <!-- jquery file -->
    <script src="~/JS/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/formRegister.css" aspasp-append-version="true" />
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <h1 style="color:black;">Welcome</h1>
                <div class="main-agileits">
                    <div class="form-w3-agile">
                        <h2>Change password</h2>

                        <!-- Hiển thị validation summary -->
                        @if (!ViewData.ModelState.IsValid)
                        {
                            <div class="alert alert-danger">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                        }

                        <!-- ASP.NET Core Form -->
                        <form asp-action="ChangePassword" method="post">
                            <div class="form-sub-w3">
                                <!-- Current Password -->
                                <input asp-for="CurrentPassword" class="form-control" placeholder="Current Password" />
                                <span asp-validation-for="CurrentPassword" class="text-red"></span>
                                <div class="icon-w3">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="form-sub-w3">
                                <!-- New Password -->
                                <input asp-for="NewPassword" class="form-control" placeholder="New Password" />
                                <span asp-validation-for="NewPassword" class="text-red"></span>
                                <div class="icon-w3">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="form-sub-w3">
                                <!-- Confirm New Password -->
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm New Password" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-red"></span>
                                <div class="icon-w3">
                                    <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                                </div>
                            </div>

                            <div class="clear"></div>

                            <!-- Submit button -->
                            <div class="submit-w3l">
                                <input id="btnLogIn" type="submit" value="Change">
                            </div>
                        </form>

                        <!-- Social login section -->
                        <div class="social w3layouts">
                            <div class="heading">
                                <h5>Or Login with</h5>
                                <div class="clear"></div>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <a style="border:1px solid white;" href="#"><i class="fa fa-home" aria-hidden="true"></i></a>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!--//form-ends-here-->
                </div>
                <!-- copyright -->
                <div class="copyright w3-agile">
                    <p> © 2017 Clean Login Form . All rights reserved | Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a></p>
                </div>
                <!-- //copyright -->
            </div>
        </div>
    </div>
</body>
</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
