@model LoginDTO
@{
	ViewBag.Title = "Login";
	ViewBag.CurrentUrl = "~/Account/Login";
	Layout = "";

}
<html>
<head>
    <title>Đăng kí tài khoản</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords"
          content="Register Form Responsive" />
    <!-- jquery file -->
    <script src="~/JS/jquery.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />
    <link href="~/css/stylelogin.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="container demo-1">
        <div class="content">
            <div id="large-header" class="large-header">
                <h1 style="color:black;">Welcome</h1>
                <div class="main-agileits">
                    <div class="form-w3-agile">
                        <h2>Đăng Nhập</h2>
                        <form asp-controller="Account" asp-action="Login" method="post" asp-route-ReturnUrl="@Context.Request.Query["ReturnUrl"]">
                            @*Email*@
                            <div class="form-sub-w3">
                                <input asp-for="Email" type="text" placeholder="Email" required />
                                <span asp-validation-for="Email" class="text-red"> ssssssssssssssss</span>
                                <div class="icon-w3">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                            </div>

                            @* Password *@
                            <div class="form-sub-w3">
                                <input asp-for="Password" type="password" placeholder="Password" required />
                                <span asp-validation-for="Password" class="text-red"></span>
                                <div class="icon-w3">
                                    <i class="fa-solid fa-lock"></i>
                                </div>
                            </div>

                            <!-- Forgot Password & Register links -->
                            <p class="p-bottom-w3ls">Forgot Password?<a asp-action="ForgotPassword" asp-controller="Account"> Click here</a></p>
                            <p class="p-bottom-w3ls1">New User?<a asp-action="Register" asp-controller="Account"> Register here</a></p>
                            <div class="clear"></div>
                            @if (ViewBag.Errors != null)
                            {
                                <div class="text-red">
                                    <ul>
                                        @foreach (string error in ViewBag.Errors)
                                        {
                                            <li>@error</li>
                                        }
                                    </ul>
                                </div>
                            }
                            <!-- Submit button -->
                            <div class="submit-w3l">
                                <input id="btnLogIn" type="submit" value="Login">
                            </div>
                        </form>

                        <!-- Social Media Login -->
                        <div class="social w3layouts">
                            <div class="heading">
                                <h5>Or Login with</h5>
                                <div class="clear"></div>
                            </div>
                            <div class="icons">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                <div class="clear"></div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>

                <!-- Copyright -->
                <div class="copyright w3-agile">
                    <p style="color:black"> &copy; 2024 Đại học Bách Khoa Hà Nội. All rights reserved.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Validation Summary -->
    <div asp-validation-summary="All" class="text-red"></div>
</body>
    
</html>



<script src="~/JS/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" asp-fallback-test="window.jQuery" asp-fallback-src="~/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.4/jquery.validate.min.js" asp-fallback-test="window.jQuery.validator" asp-fallback-src="~/jquery.validate.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js" asp-fallback-test="window.jQuery.validator.unobstrusive" asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>