<h1>All List here</h1>
<div class="program-search">
	<form asp-controller="AcademicProgram" asp-action="Search" id="search_train">
		<div class="input-group">
			<input type="text" name="s" class="form-control" placeholder="Tìm kiếm ngành đào tạo..." value="">
			<div class="input-group-addon">
				<button class="btn btn-success btn-train" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
			</div>
		</div>
	</form>
</div>

