@model IEnumerable<ArticleDTO>

<link asp-append-version="true" href="~/css/article.css" rel="stylesheet" />
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const innerContentElements = document.querySelectorAll('.article-content');

        innerContentElements.forEach(element => {
            let content = element.textContent;

            // Cắt bớt nội dung nếu vượt quá 1000 ký tự
            if (content.length > 1000) {
                element.textContent = content.substring(0, 1000) + '...';
            }
        });

        const backspaceElements = document.querySelectorAll('.inner-content > div > div');
        backspaceElements.forEach(element => {
            let contentbp = element.innerHTML;
            contentbp = contentbp.replace(/&nbsp;/g, '');
            element.innerHTML = contentbp;
        });
    });
</script>
<div class="row">
    <div class="col-md-3">
        @await Component.InvokeAsync("CategoryMenu")
    </div>
    <div class="col-md-9">
        <h2>@ViewBag.Title</h2>
        @await Component.InvokeAsync("ListArticle")
    </div>
</div>
