
@{
	var accountIdClaim = User.Claims.FirstOrDefault(c => c.Type == "AccountID");
	var accountId = accountIdClaim?.Value; // accountId sẽ là null nếu không tồn tại claim này
}
<link href="~/css/font-awesome.min.css" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" type="text/css" href="~/css/jquery-ui.css" />
@* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"> *@
<link rel="stylesheet" href="~/css/personalpage.css" asp-append-version=true />
<script src="~/JS/jquery-ui.js"></script>
<div class="extension-container">
	<div class="profile_container">
		<div class="user-icon">
			<i class="fas fa-user"></i>
		</div>
		<div class="user-details">
			<div class="user-name">User Name</div>
			<div class="edit-profile">
				<i class="fas fa-pencil-alt"></i>
				<span>Sửa hồ sơ</span>
			</div>
		</div>
		<br>
	</div>
	<hr class="line">
	<div class="event_now">
		<div>
			<i class="fa fa-calendar"></i>
			<a class="event-link" data-option="ClassList" href="#">Danh sách lớp thi</a>
		</div>
		<div>
			<i class="fa fa-user"></i>
			<a class="event-link" data-option="MyInformation" data-user-id="@accountId" href="#">Hồ sơ của tôi</a>
		</div>


	</div>
</div>
<div class="option-detail-account">
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
	$(document).ready(function () {
		$('.event-link').click(function (event) {
			event.preventDefault();
			const extensionContainer = document.querySelector('.extension-container');
			if (extensionContainer) {
				extensionContainer.style.display = 'none';
			}

			var option = $(this).data('option');
			var userId = $(this).data('user-id');

			// Gửi yêu cầu AJAX với query string
			$.ajax({
				url: '@Url.Action("GetDetail", "Student")',
				method: 'GET',
				data: { option : option, userId: userId }, // Thêm query string
				success: function (response) {
					$('.option-detail-account').html(response);
				},
				error: function () {
					alert('Có lỗi xảy ra khi tải dữ liệu.');
				}
			});
		});
	});


</script>


<script src="~/JS/studentinfo.js" asp-append-version="true"></script>